	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/angular.js"></script>
	<script src="~/Scripts/App/App.js"></script>
<div class="row" ng-app="OwnersPets">
	<div class="col-md-12" ng-controller="OwnersCtrl">
		<div class="col-md-6">


			<div id="tblSubs">

				<h3>{{title}}</h3>
			<h5>{{result}}</h5>

				<form id="owner-form" ng-submit="addOwner()">
					<input type="text" ng-model="newOwner" name ="newOwner" id="new-owner" placeholder="Enter new Owner"  autofocus>
					<input type="submit" id="submit" value="Add owner"/>
				</form>
				<table>
					<tr>
						<th>Name</th>
						<th>Pets Count</th>
					</tr>
					<tbody ng-repeat="owner in owners">
						<tr ng-click="click(this)">
							<td>{{owner.ownerName}}</td>
							<td>
								<div class =" block">{{owner.count}}</div>
								<div class="block"><button class="destroy" ng-click="removeOwner(owner)">Delete</button></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-6">
			<table>
				<tr>
					<th>Pet Name</th>
				</tr>
				<tbody ng-repeat="pet in currentPets">
					<tr>
						<td>{{pet.petName}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>

<style>
	table, tr, td, th {
		border: 1px solid #ccc;
		padding: 10px;
		margin: 10px;
	}
</style> 