	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-resource.js"></script>

<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Scripts/App/App.js"></script>
<script src="~/Scripts/App/Owners.js"></script>
<script src="~/Scripts/App/Pets.js"></script>
<script src="~/Scripts/App/getOwnerSvc.js"></script>
<script src="~/Scripts/App/pager.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>*@

<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<script src="~/Scripts/bootstrap.js" ></script>



<script type="text/javascript">
	angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
</script>
<div class="row" ng-app="OwnersPets">
	<div class="col-md-12" ng-controller="OwnersCtrl">
		
		<div id="petsView">
			<div ng-view></div>
		</div>

		
	</div>

</div>

